{
  "singleQuote": true,
  "parser": "typescript",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 200,
  "arrowParens": "always",
  "trailingComma": "all",
  "jsxBracketSameLine": true
}
